* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
                 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    background: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ===== 메인 콘텐츠 ===== */
.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    
}

.tab-content {
    display: none;
    margin:0 auto;
    width:700px;
}

.tab-content.active {
    display: block;
}
